 @charset "utf-8";

/*Global */
body
{margin: 0;
padding: 0;
background: #e4e4e4;}
a{
	text-decoration: none;
	border: none;
	outline: none;
}
a:hover{
	border: none;
	outline: none;
}
div{
	margin: 0px;
	padding: 0px;
	border: none;
}
img{
	border: 0px;
}
.clear{
	clear: both;
}

/*Header*/
#header{
	background: url(../images/header_bg.png) repeat-x;
	border-bottom: 1px solid #616161;
}
#header h1{
	font-family: 'Helvatica';
	font-size: 26px;
	font-style: italic;
	line-height: 18px;
	padding: 0px; margin: 8px; 
}
#header h1 span{
	color: #33ccff;
}
#header h1 a{
	color: #FFF;
}

/*Navigation Bar*/
.nav_glyphish_example  ul li a{ text-transform: uppercase; }
.nav_glyphish_example .ui-btn .ui-btn-inner { padding-top: 35px !important; }
.nav_glyphish_example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

.search .ui-icon { background:  url(../images/search.png) 50% 50% no-repeat; background-size: 30px 30px; }
.call .ui-icon { background:  url(../images/call.png) 50% 50% no-repeat; background-size: 30px 30px;  }
.inquire .ui-icon { background:  url(../images/inquire.png) 50% 50% no-repeat;  background-size: 30px 30px; }


/*List View*/
.ui-li-thumb, .ui-li-icon {
    left: 1px;
    max-height: 40px; 
    max-width: 40px; 
    top: 9px;
    position: absolute;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-top:0px;
    padding-bottom:0px;
}
ul.upper_case li{
	background: url(../images/button.jpg) repeat-x !important;
}	
ul.upper_case li a{
	margin-top: 5px;
	font-size: 18px;
	margin-left: -30px;
	text-transform: capitalize;
}
ul.upper_case li a span{
	display: block;
	font-size: 13px;
	color: #33ccff;
	font-weight: normal;
	text-transform: capitalize;
}
li .ui-icon  { background: url(../images/next.png) 50% 50% no-repeat;  background-size: 24px 24px; box-shadow: none;}

/*Social icon on footer*/
.social{padding:5px;padding-bottom: 5px;}  
.social a {margin-left:7px; margin-right: 7px;}


/*Copyright-text, address, phone, email*/
div#custom_footer{position:relative;text-align:center;font-weight:normal;font-size:80%;padding:10px;height:auto;}
#phone .ui-icon{
	background:  url(../images/phone2.png) 50% 50% no-repeat;  background-size: 24px 24px;
}
#email .ui-icon{
	background:  url(../images/mail.png) 50% 50% no-repeat; 
	background-position: 2px 0px;
	 background-size: 50%;
	 padding-left: 19px;
}
#footer{
	background: #000 url('../images/footer-bg.jpg') no-repeat top right;
}

/*button*/
